# Target: change to your board (esp32s3, esp32p4, etc.)
# CONFIG_IDF_TARGET="esp32p4"

CONFIG_COMPILER_CXX_EXCEPTIONS=y
CONFIG_COMPILER_CXX_RTTI=y
CONFIG_SPIRAM=y
CONFIG_PTHREAD_TASK_STACK_SIZE_DEFAULT=8192
CONFIG_GRAPHICS_PARALLEL_ENABLED=y
CONFIG_GRAPHICS_PAINTER_ALGO_ENABLED=y
